/* 
    Created on : Jun 1, 2017, 9:58:34 AM
    Author     : Andi
*/

#root 
{
     -fx-background-image: url("/images/battleBackground.png");
}

#statusLabel
{
    -fx-font-size: 12px;
    -fx-font-family: System;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#turnLabel
{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: monospace;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
    -fx-text-fill: black;
}

.button
{    
    -fx-font-size: 18px;
    -fx-background-color: linear-gradient(#333333, #999999);
    -fx-text-fill:#d8d7d7;
    
    -fx-border-color: #d7d8d7;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.button:hover
{
    -fx-background-color: linear-gradient(#999999, #333333);
}

/*  Old style
.progress-bar .track
{
    -fx-background-color: 
        -fx-box-border, #e1e0e0;
    -fx-background-insets: 2, 2, 2;
}*/

.progress-bar .track
{
    -fx-border-color: black;
    -fx-border-radius: 0px;
    -fx-border-width: 1.5px;
    -fx-background-color: null;
    -fx-border-insets: 1, 1, 1;
}

.progress-bar .bar 
{
    -fx-background-color:
        -fx-box-border, #59cf4d; 
}

.green-bar .bar
{ 
    -fx-background-color: 
        -fx-box-border, #59cf4d; 
}

.yellow-bar .bar 
{ 
    -fx-background-color: 
        -fx-box-border, yellow;  
}

.orange-bar .bar
{ 
    -fx-background-color: 
        -fx-box-border, orange; 
}

.red-bar .bar
{ 
    -fx-background-color: 
        -fx-box-border, red; 
}

.rainbow-bar .bar
{
    -fx-background-color:
        -fx-box-border, linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);

}

.damageLabel
{
    -fx-font-size: 32px;
    -fx-font-family: Rockwell;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.healingLabel
{
    -fx-font-size: 32px;
    -fx-font-family: Rockwell;
    -fx-font-weight: bold;
    -fx-text-fill: #99ff99;
}

.eventLabel
{
    -fx-font-size: 24px;
    -fx-font-family: Rockwell;
    -fx-font-weight: bold;
    -fx-text-fill: #ffff33;
}