/* 
    Created on : Jun 1, 2017, 9:58:34 AM
    Author     : Andi
*/

.root 
{
     -fx-background-image: url("/images/chooseBackground.png");
}

#headingLabel
{
    -fx-font-family: Castellar;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-text-fill: yellow;
    -fx-opacity: 1;
}

#nameLabel
{
    -fx-font-size: 16px;
    -fx-font-family: System;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field
{
    -fx-font-size: 14px;
    -fx-font-family: System;
    -fx-opacity: 1;
}

.button
{    
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(#333333, #999999);
    -fx-text-fill:#d8d7d7;
}

.button:hover
{
    -fx-background-color: linear-gradient(#999999, #333333);
}

.info-button
{
    -fx-font-size: 18px;
    -fx-border-color: #d7d8d7;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.settings-button
{
    -fx-font-size: 18px;
    -fx-border-color: #d7d8d7;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

/*
    Style of the ScrollPane that was used before the Pagination.
    This stays here in case I need to style a scrollPane again because making its bg-color invisible was REALLY annoying.
*/
.scroll-pane > .viewport 
{
   -fx-background-color: transparent;
}

.scroll-pane 
{
   -fx-background-color: transparent;
   -fx-vbar-policy: never;
}

.toggle-button
{
    -fx-background-color: #cccccc;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.toggle-button:selected
{
    -fx-background-color: #038EBC;
}

.label
{
    -fx-font-size: 0.5px;
    -fx-opacity: 0;
}