/* 
    Created on : Jun 1, 2017, 9:58:34 AM
    Author     : Andi
*/

.button
{    
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(#333333, #999999);
    -fx-text-fill:#d8d7d7;
    
    -fx-border-color: #d7d8d7;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.button:hover
{
    -fx-background-color: linear-gradient(#999999, #333333);
}