/* 
    Created on : Jun 1, 2017, 9:58:34 AM
    Author     : Andi
*/

#root 
{
     -fx-background-image: url("/images/logBackground.png");
}


.button
{    
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(#333333, #999999);
    -fx-text-fill:#d8d7d7;
    
    -fx-border-color: #d7d8d7;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.button:hover
{
    -fx-background-color: linear-gradient(#999999, #333333);
}

/* 
    ScrollBar style taken from https://farrukhobaid.wordpress.com/2013/01/16/dark-scrollbar-skin-for-javafx/ with a little bit of modification
*/
.scroll-bar
{
    -fx-background-color: #222738;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track 
{
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .track-background 
{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .thumb 
{
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .thumb 
{
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover
{
    -fx-background-color: rgb(231,231,231);
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed
{
    -fx-background-color: rgb(255,255,255);
}

.scroll-bar:vertical .increment-button, 
.scroll-bar:vertical .decrement-button 
{
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}

.scroll-bar:horizontal .increment-button, 
.scroll-bar:horizontal .decrement-button 
{
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}

.scroll-bar:horizontal .increment-arrow
{
    /* SVG Shape of the arrow */
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: rgb(211,211,211);
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}

.scroll-bar:vertical .increment-arrow 
{
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}

.scroll-bar:horizontal .decrement-arrow 
{
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}

.scroll-bar:vertical .decrement-arrow 
{
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused 
{
    -fx-background-color: transparent,#222738,#222738;
}