/* 
    Created on : Jun 1, 2017, 9:58:34 AM
    Author     : Andi
*/

.root 
{
     -fx-background-image: url("/images/chooseBackground.png");
}

#headingLabel
{
    -fx-font-family: Castellar;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-text-fill: yellow;
}

.button
{    
    -fx-font-size: 18px;
    -fx-background-color: linear-gradient(#333333, #999999);
    -fx-text-fill:#d8d7d7;
    
    -fx-border-color: #d7d8d7;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.button:hover
{
    -fx-background-color: linear-gradient(#999999, #333333);
}

.settingsLabel
{
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/*
    -fx-fackground-color: null; <- hides the track
*/
.slider .track
{
    -fx-background-color: 
        -fx-box-border, #cccccc; 
}

.slider .thumb
{
    -fx-background-image :url("/images/sliderThumb.png");   
    -fx-padding: 10;
}

.toggle-button
{
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color:#ff0000;
}

.toggle-button:selected
{
    -fx-background-color:#33ff33;
    -fx-text-fill: white;
}